<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chiff.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD7F1224261CAFFF00EB09F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD7F123D261CB00100EB09F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD7F1248261CB00100EB09F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
